@import url('https://fonts.googleapis.com/css?family=Kodchasan:200,300,400');
/*
body{
	-moz-filter: grayscale(40%);
	-webkit-filter: grayscale(40%);
	filter: gray;
	filter: grayscale(40%);
}
*/


::selection{
  background: #197bbe;
}

::-moz-selection{
  background: #197bbe;
}

::-o-selection{
  background: #197bbe;
}

::-ms-selection{
  background: #197bbe;
}

::-webkit-scrollbar-thumb{
  background: #197bbe;
}

a, a:visited, a:hover, a:focus{
	color: #3e454c;
}
h1, h2, h3, h4, h5{
	font-family: 'Kodchasan', sans-serif;
	font-weight: 400;
}
h2{
	font-size: 18px;
}
b, strong{
	font-weight: 400!important;
}
body{
  	font-family: 'Kodchasan', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class*="header_"] .h_top_part{
	border-bottom-color: #fff;
}
.pre_header{
	background: #fff;
	padding: 10px 0;
}
.header_3 .menu_wrap{
	/*background-color:#197bbe;*/
	background-color:#072956;
	padding: 10px 0;
	background-image: url('/assets/theme/images/menu-bg.jpg');
	background-position: top center;
	background-repeat: no-repeat;

}
.header.header_3 .searchform_wrap{
	background: #13b7ff;
}
.main_menu > ul > li:hover > a, .main_menu > ul > li.current > a, .main_menu > ul > li[class*="current_"] > a {
	background-color:#197bbe;
}

/*
.main_menu > ul > li > a:after {
    content: "|";
    position: relative;
    right: -13px;
	font-weight: 100;
	color: rgba(255,255,255,0.3);
}
*/

.main_menu.menu_var3 > ul > li:nth-child(1):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(2):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(3):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(4):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(5):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(6):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(7):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(8):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(9):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(10):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(11):hover > a{
  background: #13b7ff;
}

.main_menu > ul > li > a{
	font-weight: 400;
	font-family: 'Kodchasan', sans-serif;
	font-size: 18px;
}
#menu_button{
	background: #197bbe;
}
#menu_button.active{
	background: #13b7ff;
}

.menu_f_right{
	right: 0;
	left: inherit;
}

.close_search_form{
	color: #3e454c;
}
.button.button_orange, .button.search_button:hover, .shopping_button:hover, .close_search_form:hover, .button.button_grey:hover{
	background-color:#13b7ff;
}

.go-to-top:hover{
	background: #13b7ff;
}
.button.kt{
 	background: #13b7ff;
}

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover,
.tparrows:hover{
	background: #13b7ff;
}

.side_bar_tabs.comment_tabs ul li:hover .comment_number{
	background: #13b7ff;
}

[class*="section_post_"] .post_text h2.post_title,
.post_text a h3{
	line-height: 23px;
}
.post_text .post_title h2, .post_text .post_title a, .small_post_list h4{
	font-weight: 300;
}

.breaking-news{
    margin-top: 10px;
}
.breaking-news li{
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 5px;
	padding-bottom: 5px;
	float: left;
}
.breaking-news .time{
	float: left;
	padding: 10px 15px;
	margin-right: 15px;
}
.breaking-news .wrapper{
	font-weight: 300;
	font-family: 'Kodchasan', sans-serif;
	text-align: left;
}

.two_third_column{
	margin-top:20px;
}
.one_third_column.one_third_var2{
	margin-top:20px;
}

.tab-kt{
	padding-top: 6px;
	border-top: 1px solid #197bbe;
}
.tab-kt .title,
.tabs.variation_2.kt .section_title{
	/*line-height: 1em;*/
	line-height: 1.5em;
	float: left;
	/*color: #197bbe;*/
	color: #059CEB;
	/*padding-top: 4px;*/
	font-weight: 400;
	font-family: 'Kodchasan', sans-serif;
	font-size: 18px;
	/*font-size: 30px;*/
}
.tab-kt .info{
	float: right;
	padding-top: 4px;
	line-height: 1em;
	overflow: hidden;
}
.tab-kt .live{
	float: right;
	padding-top: 4px;
	line-height: 2em;
	overflow: hidden;
}
.rss{
	color: #ff680d;
}
.button-live{
	color: #fff;
	padding: 3px 10px;
	background-color: #e91e1e;
}

.caption_inner{
  background:rgba(34,34,38,.5);
}

.photo_gallery{
	border-color: #197bbe;
}
.section_post_left .section_title.kt,
.photo_gallery .section_title.kt{
	border-color: #197bbe;
	/*color: #197bbe;*/
	color: #059CEB;
	font-weight: 400;
	font-family: 'Kodchasan', sans-serif;
	font-size: 18px;
	/*font-size: 30px;*/
	line-height: 1.5em;
	margin-bottom: 15px;
}
.tabs,
.tabs.variation_2{
	border-color: #197bbe;
}
.tabs_nav li a h3, .tabs_nav li a h4, .tabs_nav li a h5{
	color: #197bbe;
	font-weight: 400;
	font-family: 'Kodchasan', sans-serif;
	font-size: 18px;
	/*font-size: 30px;*/
	line-height: 1.5em;
}
.tabs_nav li.ui-tabs-active h3, .tabs_nav li.ui-tabs-active h5{
	/*color: #197bbe;*/
	color: #059CEB;
}
.tabs.variation_2.kt .tabs_content > [id*="tab-"] ul li{
	margin-top: 8px;
}
.tabs.variation_2 .tabs_content > [id*="tab-"] ul li:first-child{
	margin-top: 0;
}
.tabs.variation_2 .tabs_conrainer .tabs_nav li.ui-tabs-active a{
	background: #13b7ff;
}

.tabs.variation_2 .tabs_nav{
	display: none;
}

.post_text.title-first{
	min-height: 62px;
	max-height: 62px;
	overflow: hidden;
}

.section_title.section_title_medium_var2{
	font-family: 'Kodchasan', sans-serif;
	font-weight: 400;
	line-height: 1.5em;
}

.post_text a h3,
.post_text a h4{
	font-weight: 300;
}
.list-news-item li{
	border-bottom: 1px solid #e5e5e5;
	/*margin-top: 8px;*/
	margin-top: 5px;
	/*padding: 3px 0 16px;
	min-height: 71px;*/
	/*padding: 3px 0 10px;
	min-height: 65px;*/
	padding-bottom: 10px;
	min-height: 35px;
}
.list-news-item li.advertorial{
	/*min-height: 150px;*/
	/*min-height: 138px;*/
}

.list-news-item-2 li{
	margin-top: 8px;
}
.list-news-item-2 li:first-child{
	margin-top: 8px !important;
}
.list-news-item-2 .item{
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px;
	padding-top: 10px;
	min-height: 72px;
}

.columnist-card{
    border: 1px solid #e5e5e5;
    overflow: hidden;
    padding: 15px 8px 8px 8px;
    background-color: #f9f9f9;
}
.columnist-card .columnist-info img{
    /*width: 100px;*/
    float: left;
    /*margin-right: 15px;*/
    border-radius: 50%;
}
.columnist-card .columnist-info .personally{
	/*height: 100px;*/
}
.columnist-card .columnist-info .personally h4{
    font-size: 16px;
    color: #197bbe;
}
.columnist-card .columnist-info .personally p{
    font-size: 12px;
    overflow: hidden;
    /*height: 65px;*/
}
.columnist-card a h4{
	font-weight: 300;
}

.line-bottom{
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
}
.line-top{
	padding-top: 10px;
	border-top: 1px solid #e5e5e5;
	overflow: hidden;
}

#market-table{
	padding-left:0;
	padding-right:0;
}
#market-table h4{
	color: #197bbe;
}
.qoutes-table,
.gold-table,
.oil-table,
.currency-table {
    font-size: 11px;
    padding: 8px;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    min-height: 125px;
    background-color: #f9f9f9;
}
.table-header{
    padding-bottom: 8px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 8px;
}
.red{
	color: #f00;
}
.red::before{
	content: "\f0d7";
	font-family: FontAwesome;
	padding-right: 3px;
}
.green{
	color: #3c0;
}
.green::before{
	content: "\f0d8";
	font-family: FontAwesome;
	padding-right: 3px;
}

.owl-item .item a h3{
	font-weight: 300;
	margin-top: 8px;
}
.jackbox-button:hover, .jackbox-panel:hover,
.button.button_grey_light:hover, .button.button_white:hover,
#flexslider .flex-direction-nav a:hover, .flexslider .flex-direction-nav a:hover{
	background: #13b7ff;
}

.comments_list li{
	min-height: 71px;
}
.side_bar_tabs .widget_tags .box-tags a:hover{
	background: #13b7ff;
}
.text_post_block p{
	font-size: 16px;
	font-size: 1.6rem;
	font-family: Arial,sans-serif;
	font-weight: normal;
	word-wrap: break-word;
}
.text_post_block strong,
.text_post_block b{
	font-weight: bold !important;
}
.text_post_block .text-read,
.text_post_block .text-read p{
	font-family: "Sukhumvit Set","Helvetica Neue","Helvetica",Arial,sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.section_date{
	font-size: 12px;
	font-weight: 300;
	padding: 9px 0;
	border-bottom: 1px solid #f2f2f2;
	color: #bbbbbe;
}
.section_date span a{
	color: #212428;
	padding-right: 2px;
}
.section_date .current_date{
	color: #197bbe;
	padding-left: 8px;
	border-left: 1px solid #f2f2f2;
}

.pagination li a.active,
.pagination li a:hover{
	background: #13b7ff;
}

.page_404 h2.title_404{
	color: #197bbe;
}
form.search button:hover{
	color: #13b7ff;
}
input:not([type="submit"]):focus, textarea:focus{
	border-color: #13b7ff;
}

.section_title{
	font-family: 'Kodchasan', sans-serif;
	color: #197bbe;
	font-weight: 400;
}


.login_form form ul li{
	margin-top: 0;
}
.custom_select .select_list li{
	padding: 5px 10px;
}
.custom_select .select_list li:hover{
	background: #13b7ff;
}
.form_type_1 .control-group .control-label,
.form_type_1 .control-group.form-elements span{
	width: 115px;
}

.form_type_1 .control-group.input_2_cols .controls table tr td{
	width: 50%;
	font-size: 14px;
	text-align: center;
}
.form_type_1 .control-group.input_3_cols_extra .controls table tr td{
	width: 40%;
	font-size: 14px;
	text-align: center;
}
.form_type_1 .control-group.input_3_cols_extra .controls table tr td:nth-child(2){
	width: 20%;
}
input:not([type="submit"]), textarea{
	color: #3e454c;
}
.form_type_1 .control-group input::-webkit-input-placeholder,
.form_type_1 .control-group textarea::-webkit-input-placeholder{
	color: #b0b1b4;
}

.form_type_1 .control-group input::-moz-placeholder,
.form_type_1 .control-group textarea::-moz-placeholder{
	color: #b0b1b4;
}

.help-block.wraning{
	color: #feb92b;
}

#set-index{height: 21px;overflow: hidden;color: #212428;}
#trends ul li{float: left;margin-right: 15px;}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {border-color:#13b7ff;}

#slide-hilight-thumb,
#slide-hilight-thumb-ad{
	margin:15px 0;
}

.mh_55{
	min-height: 55px;
}
.mg_top_10{
	margin-top: 10px;
}

video::-internal-media-controls-download-button {
	display:none;
}
video::-webkit-media-controls-enclosure {
	overflow:hidden;
}
video::-webkit-media-controls-panel {
	width: calc(100% + 30px); /* Adjust as needed */
}

.button.kt_view_button{
  padding: 1px 11px;
  background: #197bbe;
  color: #fff;
  font-size: 12px;
}

.text_post_block ol, .text_post_block ul {
    list-style: inherit;
    margin-left: 20px;
}
.text_post_block ol li, .text_post_block ul li {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
}
.text_post_block p a {
    color: #000;
    text-decoration: underline;
}

.text_post_block blockquote {
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    margin-top: 20px;
    font-style: italic;
}

.text_post_block blockquote p {
    margin-top: 0;
}

.text_post_block blockquote p:nth-child(2) {
	color: #3e454c;
	text-align: right;
	margin-left: -20px;
	margin-right: -20px;
	padding: 10px 20px;
	background-color: #f2f2f2;
}
.text_post_block blockquote p:first-child {
    color: #ff680d;
	padding-bottom: 20px;
}

video {
  max-width: 100%;
  height: auto;
  margin: auto;
}




/* Custom Detail Gallery */
.detail-gallery-list{}
.detail-gallery-list ul{text-align:center; font-size:0; margin:0; padding:5px 0 0;}
.detail-gallery-list li{list-style:none; display:inline-block; padding:5px; width:50%; box-sizing:border-box;}
.detail-gallery-list li img{display:block; width:100%; height:auto !important;}
